In [1]:
import pandas as pd

In [2]:
#import 2020 csv
data = pd.read_csv("../Resources/2020.csv")
data.head()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [3]:
data.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq',
       'CompTotal', 'ConvertedComp', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'DevType', 'EdLevel', 'Employment', 'Ethnicity', 'Gender', 'JobFactors',
       'JobSat', 'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [4]:
# make df with only the important columns
cleaned = data[['YearsCodePro','DevType','ConvertedComp','OrgSize']]
cleaned['Year'] = '2020'
cleaned = cleaned.dropna()

C:\Users\Kaiza\AppData\Local\Temp\ipykernel_25424\1532838804.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned['Year'] = '2020'

In [5]:
cleaned['DevType'].value_counts()

Developer, full-stack                                                                                                                                                                                                                    3086
Developer, back-end                                                                                                                                                                                                                      2176
Developer, back-end;Developer, front-end;Developer, full-stack                                                                                                                                                                           1639
Developer, back-end;Developer, full-stack                                                                                                                                                                                                1121
Developer, front-end                                                                                                                                                                                                                      893
                                                                                                                                                                                                                                         ...
Data scientist or machine learning specialist;Database administrator;Developer, back-end;Developer, desktop or enterprise applications;Developer, front-end;Developer, full-stack;Developer, mobile;DevOps specialist;Product manager       1
Data or business analyst;Database administrator;Developer, back-end;Developer, front-end;Developer, full-stack;DevOps specialist;Engineer, data;Engineer, site reliability;System administrator                                             1
Data or business analyst;Database administrator;Designer;Developer, back-end;Developer, embedded applications or devices;Developer, front-end;Developer, full-stack;Educator;System administrator                                           1
Developer, desktop or enterprise applications;Developer, front-end;Developer, full-stack;Developer, QA or test                                                                                                                              1
Database administrator;Developer, back-end;Developer, desktop or enterprise applications;Developer, front-end;Developer, full-stack;Engineer, data;Engineering manager;System administrator                                                 1
Name: DevType, Length: 6077, dtype: int64

In [6]:
# create smaller df with only the jobs we want
analyst = cleaned[cleaned['DevType'].str.contains('analyst')]
scientist = cleaned[cleaned['DevType'].str.contains('scientist')]
machine = cleaned[cleaned['DevType'].str.contains('machine')]
# engineer = cleaned[cleaned['DevType'].str.contains('engineer')]

In [7]:
# convert job titles to specific
analyst['DevType'] = 'Data Analyst'
scientist['DevType'] = 'Data Scientist'
machine['DevType'] = 'Machine Learning Engineer'

C:\Users\Kaiza\AppData\Local\Temp\ipykernel_25424\4197962986.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  analyst['DevType'] = 'Data Analyst'
C:\Users\Kaiza\AppData\Local\Temp\ipykernel_25424\4197962986.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  scientist['DevType'] = 'Data Scientist'
C:\Users\Kaiza\AppData\Local\Temp\ipykernel_25424\4197962986.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  machine['DevType'] = 'Machine Learning Engineer'

In [8]:
combined = pd.concat([analyst, scientist, machine], ignore_index=True)
combined

,YearsCodePro,DevType,ConvertedComp,OrgSize,Year
0,3,Data Analyst,77556.0,"1,000 to 4,999 employees",2020
1,6,Data Analyst,55893.0,10 to 19 employees,2020
2,15,Data Analyst,16488.0,500 to 999 employees,2020
3,3,Data Analyst,65000.0,"10,000 or more employees",2020
4,6,Data Analyst,48644.0,2 to 9 employees,2020
...,...,...,...,...,...
7660,35,Machine Learning Engineer,1000000.0,"Just me - I am a freelancer, sole proprietor, ...",2020
7661,5,Machine Learning Engineer,100000.0,"10,000 or more employees",2020
7662,30,Machine Learning Engineer,200000.0,20 to 99 employees,2020
7663,3,Machine Learning Engineer,2000000.0,100 to 499 employees,2020
7664,12,Machine Learning Engineer,140000.0,"10,000 or more employees",2020

In [9]:
combined['OrgSize'].value_counts()

20 to 99 employees                                    1538
10,000 or more employees                              1363
100 to 499 employees                                  1225
1,000 to 4,999 employees                               957
2 to 9 employees                                       755
10 to 19 employees                                     544
500 to 999 employees                                   484
5,000 to 9,999 employees                               449
Just me - I am a freelancer, sole proprietor, etc.     350
Name: OrgSize, dtype: int64

In [10]:
combined['OrgSize']=combined['OrgSize'].replace(["10,000 or more employees"],["10000+"])
combined['OrgSize']=combined['OrgSize'].replace(["20 to 99 employees"],["10-100"])
combined['OrgSize']=combined['OrgSize'].replace(["100 to 499 employees"],["100-1000"])
combined['OrgSize']=combined['OrgSize'].replace(["1,000 to 4,999 employees"],["1000-4999"])
combined['OrgSize']=combined['OrgSize'].replace(["2 to 9 employees"],["2-9"])
combined['OrgSize']=combined['OrgSize'].replace(["10 to 19 employees"],["10-100"])
combined['OrgSize']=combined['OrgSize'].replace(["500 to 999 employees"],["100-1000"])
combined['OrgSize']=combined['OrgSize'].replace(["5,000 to 9,999 employees"],["5000-9999"])
combined['OrgSize']=combined['OrgSize'].replace(["Just me - I am a freelancer, sole proprietor, etc."],["1"])
combined['OrgSize']=combined['OrgSize'].replace(["I donâ€™t know"],["0"])

combined

     YearsCodePro                    DevType  ConvertedComp    OrgSize  Year
0               3               Data Analyst        77556.0  1000-4999  2020
1               6               Data Analyst        55893.0     10-100  2020
2              15               Data Analyst        16488.0   100-1000  2020
3               3               Data Analyst        65000.0     10000+  2020
4               6               Data Analyst        48644.0        2-9  2020
...           ...                        ...            ...        ...   ...
7660           35  Machine Learning Engineer      1000000.0          1  2020
7661            5  Machine Learning Engineer       100000.0     10000+  2020
7662           30  Machine Learning Engineer       200000.0     10-100  2020
7663            3  Machine Learning Engineer      2000000.0   100-1000  2020
7664           12  Machine Learning Engineer       140000.0     10000+  2020

[7665 rows x 5 columns]

In [11]:
combined.to_csv('../Outputs/2020.csv', index=False)