In [1]:
import pandas as pd

In [2]:
#import 2022 csv
data = pd.read_csv("../Resources/2022.csv")
data.head()

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
3,4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN

In [3]:
data.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'RemoteWork',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'LearnCodeCoursesCert', 'YearsCode', 'YearsCodePro', 'DevType',
       'OrgSize', 'PurchaseInfluence', 'BuyNewTool', 'Country', 'Currency',
       'CompTotal', 'CompFreq', 'LanguageHaveWorkedWith',
       'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith',
       'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith',
       'PlatformWantToWorkWith', 'WebframeHaveWorkedWith',
       'WebframeWantToWorkWith', 'MiscTechHaveWorkedWith',
       'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith',
       'ToolsTechWantToWorkWith', 'NEWCollabToolsHaveWorkedWith',
       'NEWCollabToolsWantToWorkWith', 'OpSysProfessional use',
       'OpSysPersonal use', 'VersionControlSystem', 'VCInteraction',
       'VCHostingPersonal use', 'VCHostingProfessional use',
       'OfficeStackAsyncHaveWorkedWith', 'OfficeStackAsyncWantToWorkWith',
       'OfficeStackSyncHaveWorkedWith', 'OfficeStackSyncWantToWorkWith',
       'Blockchain', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'Age', 'Gender', 'Trans', 'Sexuality', 'Ethnicity',
       'Accessibility', 'MentalHealth', 'TBranch', 'ICorPM', 'WorkExp',
       'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4',
       'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Frequency_1',
       'Frequency_2', 'Frequency_3', 'TimeSearching', 'TimeAnswering',
       'Onboarding', 'ProfessionalTech', 'TrueFalse_1', 'TrueFalse_2',
       'TrueFalse_3', 'SurveyLength', 'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [4]:
# make df with only the important columns
cleaned = data[['YearsCodePro','DevType','ConvertedCompYearly','OrgSize']]
cleaned['Year'] = '2022'
cleaned = cleaned.dropna()

C:\Users\Kaiza\AppData\Local\Temp\ipykernel_6664\343298146.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned['Year'] = '2022'

In [5]:
cleaned['DevType'].value_counts()

Developer, full-stack                                                                                                                                                                                                                                                                             4968
Developer, back-end                                                                                                                                                                                                                                                                               3806
Developer, front-end                                                                                                                                                                                                                                                                              1540
Developer, front-end;Developer, full-stack;Developer, back-end                                                                                                                                                                                                                                    1262
Developer, full-stack;Developer, back-end                                                                                                                                                                                                                                                         1110
                                                                                                                                                                                                                                                                                                  ...
Developer, front-end;Developer, full-stack;Developer, back-end;Developer, desktop or enterprise applications;Developer, QA or test;Developer, mobile;Engineering manager;Database administrator;Developer, embedded applications or devices;Cloud infrastructure engineer;System administrator       1
Developer, front-end;Developer, full-stack;Developer, back-end;Developer, desktop or enterprise applications;Developer, QA or test;Developer, mobile;Engineering manager;Developer, embedded applications or devices;Project manager;Designer                                                        1
Developer, front-end;Developer, full-stack;Developer, back-end;Developer, mobile;Database administrator;DevOps specialist;Data or business analyst;Designer                                                                                                                                          1
Developer, back-end;Developer, desktop or enterprise applications;Engineering manager;Developer, embedded applications or devices                                                                                                                                                                    1
Developer, front-end;Developer, full-stack;Developer, back-end;Developer, desktop or enterprise applications;Database administrator;Developer, embedded applications or devices;Cloud infrastructure engineer                                                                                        1
Name: DevType, Length: 6525, dtype: int64

In [6]:
# create smaller df with only the jobs we want
analyst = cleaned[cleaned['DevType'].str.contains('analyst')]
scientist = cleaned[cleaned['DevType'].str.contains('scientist')]
machine = cleaned[cleaned['DevType'].str.contains('machine')]
# engineer = cleaned[cleaned['DevType'].str.contains('engineer')]

In [7]:
# convert job titles to specific
analyst['DevType'] = 'Data Analyst'
scientist['DevType'] = 'Data Scientist'
machine['DevType'] = 'Machine Learning Engineer'

C:\Users\Kaiza\AppData\Local\Temp\ipykernel_6664\4197962986.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  analyst['DevType'] = 'Data Analyst'
C:\Users\Kaiza\AppData\Local\Temp\ipykernel_6664\4197962986.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  scientist['DevType'] = 'Data Scientist'
C:\Users\Kaiza\AppData\Local\Temp\ipykernel_6664\4197962986.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  machine['DevType'] = 'Machine Learning Engineer'

In [8]:
combined = pd.concat([analyst, scientist, machine], ignore_index=True)
combined

,YearsCodePro,DevType,ConvertedCompYearly,OrgSize,Year
0,15,Data Analyst,130000.0,100 to 499 employees,2022
1,22,Data Analyst,450000.0,100 to 499 employees,2022
2,5,Data Analyst,78084.0,"10,000 or more employees",2022
3,12,Data Analyst,15480.0,"10,000 or more employees",2022
4,11,Data Analyst,200000.0,"1,000 to 4,999 employees",2022
...,...,...,...,...,...
5909,4,Machine Learning Engineer,250000.0,100 to 499 employees,2022
5910,6,Machine Learning Engineer,51336.0,500 to 999 employees,2022
5911,6,Machine Learning Engineer,39000.0,20 to 99 employees,2022
5912,16,Machine Learning Engineer,47772.0,2 to 9 employees,2022
5913,3,Machine Learning Engineer,75384.0,10 to 19 employees,2022

In [9]:
combined['OrgSize'].value_counts()

10,000 or more employees                              1081
20 to 99 employees                                    1077
100 to 499 employees                                   902
1,000 to 4,999 employees                               774
2 to 9 employees                                       562
10 to 19 employees                                     457
500 to 999 employees                                   400
5,000 to 9,999 employees                               332
Just me - I am a freelancer, sole proprietor, etc.     244
I don’t know                                            85
Name: OrgSize, dtype: int64

In [10]:
combined['OrgSize']=combined['OrgSize'].replace(["10,000 or more employees"],["10000+"])
combined['OrgSize']=combined['OrgSize'].replace(["20 to 99 employees"],["10-100"])
combined['OrgSize']=combined['OrgSize'].replace(["100 to 499 employees"],["100-1000"])
combined['OrgSize']=combined['OrgSize'].replace(["1,000 to 4,999 employees"],["1000-4999"])
combined['OrgSize']=combined['OrgSize'].replace(["2 to 9 employees"],["2-9"])
combined['OrgSize']=combined['OrgSize'].replace(["10 to 19 employees"],["10-100"])
combined['OrgSize']=combined['OrgSize'].replace(["500 to 999 employees"],["100-1000"])
combined['OrgSize']=combined['OrgSize'].replace(["5,000 to 9,999 employees"],["5000-9999"])
combined['OrgSize']=combined['OrgSize'].replace(["Just me - I am a freelancer, sole proprietor, etc."],["1"])
combined['OrgSize']=combined['OrgSize'].replace(["I don’t know"],["0"])

combined

,YearsCodePro,DevType,ConvertedCompYearly,OrgSize,Year
0,15,Data Analyst,130000.0,100-1000,2022
1,22,Data Analyst,450000.0,100-1000,2022
2,5,Data Analyst,78084.0,10000+,2022
3,12,Data Analyst,15480.0,10000+,2022
4,11,Data Analyst,200000.0,1000-4999,2022
...,...,...,...,...,...
5909,4,Machine Learning Engineer,250000.0,100-1000,2022
5910,6,Machine Learning Engineer,51336.0,100-1000,2022
5911,6,Machine Learning Engineer,39000.0,10-100,2022
5912,16,Machine Learning Engineer,47772.0,2-9,2022
5913,3,Machine Learning Engineer,75384.0,10-100,2022

In [11]:
combined.to_csv('../Outputs/2022.csv', index=False)